<h1>Main#action1</h1>
<p>Find me in app/views/main/action1.html.erb</p>
<form>
  Image:<br>
  <input type="text" name="image"><br>
  Ending:<br>
  <input type="text" name="ending">
</form>

<%= link_to "Submit", main_run_path, class: "btn btn-lg btn-primary" %>
<p>End</p>
